html,
body {
    margin: 0;
    padding: 0;
    background-image: url("table.png");
    background-size: cover;
    font-family: "Exo 2", sans-serif;
    height: 100vh;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}


/* Alternative approach using ::-webkit-scrollbar pseudo-element */
body::-webkit-scrollbar {
    width: 0.5em;
    /* Set the width of the scrollbar */
    background-color: #F5F5F5;
    /* Set the background color of the scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: #000000;
    /* Set the color of the scrollbar thumb */
}

button {
    background-color: #FFF100;
    cursor: pointer;
    border: none;
}

#new-deck {
    width: 10em;
    height: 10em;
    font-size: 2em;
    transition: .7s;
}
#new-deck:active {
    transform: scale(1.2);
    background-color: #000;
    color: #fff;
    transition: .3s;
}

#remaining {
    position: absolute;
    right: 1em;
    top: -.4em;
    font-size: 2em;
    color: rgb(255, 255, 0);
}

#header {
    font-size: 4em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;

}

#header::selection {
    background-color: #0096c7;
    color: #000;
}

button#new-deck {
    align-self: flex-start;
    padding: 5px;
}

button.draw {
    font-size: 1.2em;
    padding: 5px;
    align-self: stretch;
}

div.card-slot {
    border: 1px solid black;
    border-radius: 5px;
    height: 20em;
    width: calc(18em * 5 / 7);
    background-color: pink;
}

div.card-slot:nth-of-type(1) {
    margin-bottom: 10px;
}

img.card {
    width: 100%;
    height: 100%;
}

div.top {
    display: flex;
    align-items: flex-start;
    align-self: flex-start;
}

div.top>p {
    margin: 0;
    margin-left: 10px;
}

button:disabled {
    cursor: not-allowed;
}

h2 {
    margin: 10px;
}

#draw-cards {
    font-size: 2em;
    transition: .7s;
}
#draw-cards:active{
    background-color: #000;
    color: #fff;
    transition: .3s;
}
